<?php
/*
START LICENSE AND COPYRIGHT

 This file is part of ZfExtended library
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

if($this->importStarted) {
    echo '<h2>Choosen SQL Files were imported!</h2>';
    if(!empty($this->errors)) {
        echo '<b>With the following errors:</b><pre>';
        print_r($this->errors);
        echo '</pre>';
    }
}

if(empty($this->sqlFilesNew) && empty($this->sqlFilesChanged)) {
    echo "<h2>No modified / new SQL files found!</h2><br /><br />";
    return;
}

$printTable = function(array $data, $checkBoxCls) {
    $cellcss = ' style="border:1px solid black; padding:0 5px;"';
    echo '<table style="border:1px solid black;border-collapse: collapse;">';
    echo '<tr><th'.$cellcss.'>Origin SQL Package</th><th'.$cellcss.'>SQL File</th>';
    echo '<th><input type="checkbox" name="checkall" onclick="toggle(this,\''.$checkBoxCls.'\');"/></th></tr>';
    $row = '<tr><td%1$s>%2$s</td><td%1$s><a href="javascript:windowOpen(\'%4$s\');">%3$s</a></td>';
    $row .= '<td%1$s><input class="%5$s" type="checkbox" name="%4$s" value="1"></td></tr>';
    
    foreach($data as $file) {
        $name = preg_replace('#\.php$#i', '<span style="color:#ff0000;">.php</span>', $file['relativeToOrigin']);
        if($name != $file['relativeToOrigin']) {
            $name = '<b>Warning: Auto Include of PHP file: </b><br />'.$name.'';
        }
        printf($row, $cellcss, $file['origin'], $name, $file['entryHash'], $checkBoxCls);
    }
    echo '</table>';
};

echo '<form action="'.$_SERVER['REQUEST_URI'].'" method="post" name="toprocess">';
if(!empty($this->sqlFilesNew)) {
    echo '<h2>New SQL files found:</h2>';
    $printTable($this->sqlFilesNew, 'checkerNew');
}
if(!empty($this->sqlFilesChanged)) {
    echo '<h2>Modified SQL files found:</h2>';
    echo '<p style="font-style:italic;">This files has to been applied manually to the database:</p>';
    $printTable($this->sqlFilesChanged, 'checkerChanged');
}
?>
<br />
<br />
<br />
    <input type="hidden" name="startimport" value="true" />
    <button type="submit">Import New Files / Update Modified in DB</button>
    <br />
    <input type="checkbox" name="catchup" value="1" id="catchupbox"/>
    <label for="catchupbox">catchup mode - WARNING: the choosen files are assumed as already imported!</label>
</form><?php //start form above in PHP CODE! ?>
<script type="text/javascript">
function toggle(master, cls) {
    boxes = document.getElementsByClassName(cls);
    for(var i=0; i<boxes.length;i++) {
        boxes[i].checked = master.checked;
    }
}
function windowOpen(hash){
    window.open('?show='+hash, "SQL Details", "width=600,height=800,left=100,top=200");
    return;
}
</script>
