<?php
/*
START LICENSE AND COPYRIGHT

 This file is part of ZfExtended library
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

/* * #@+
 * @author Marc Mittag
 * @package ZfExtended
 * @version 2.0
 *
 */

/*
 * Gibt Fehlerdetails nur für Fehler mit _errorCode größer 202 aus, da davon 
 * ausgegangen wird, dass alles andere nur Infomeldungen sind, bei denen nur die Message relevant ist
 */
?>
<?php
foreach ($this->errors as $error) {
    ?>
    <h2><?php echo $error->_errorMessage; ?></h2>
    <?php
    if($error->_errorCode > 202){
        if($this->errorCollect){
            ?>
            <p><?php echo "File: ".$error->errfile."; Line: ".$error->errline."; errno: ".$error->errno; ?></p><?php
        }
        ?>
        <h3>Stack trace:</h3>
        <pre><?php echo $error->_errorTrace; ?>
        </pre>
        <?php
    }
}
?>
<h3>Request Parameters:</h3>
<pre><?php echo var_export($this->getParams, true); ?>
</pre><?php 